<%- include('./partials/start.ejs')%>
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row ">
        <div class="col-12 grid-margin">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Order Status</h4>
              <div class="table-responsive">
                <table class="table text-center" >
                  <thead>
                    <tr>
                      <th>
                        No.
                      </th>
                      <th> Avatar </th>
                      <th> Movie Name </th>
                      <th> Genre</th>
                      <th> Release Date </th>
                      <th> Ratings</th>
                      <th> Description </th>
                      <th> Actions </th>
                    </tr>
                  </thead>
                  <tbody>
                    <% allMovie.map((movie, idx)=>{ %>
                      <tr>

                        <td>
                          <%= idx+1 %>
                        </td>

                        <td>
                          <img src="/<%= movie.avatar %>" alt="image" />
                          <span class="pl-2">Henry Klein</span>
                        </td>
                        <td>
                          <%= movie.name %>
                        </td>
                        <td>
                          <%= movie.genre %>
                        </td>
                        <td>
                          <%= movie.date %>
                        </td>
                        <td>
                          <%= movie.ratings %>
                        </td>
                        <td>
                          <%= movie.description %>
                        </td>
                        <td>
                          <div class="d-flex align-items-center justify-content-center">
                            <div class="badge badge-outline-success" onclick="window.location.href='/admin/edit-movie/<%= movie.id %>'">Edit</div>
                            <div class="badge badge-outline-danger cursor-pointer" onclick="window.location.href='/admin/delete-movie/<%= movie.id %>'">Delete</div>
                          </div>
                        </td>
                      </tr>
                      <% }) %>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <%- include('./partials/end.ejs')%>

